.toDoListWrapper{
  width: 325px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: auto;
}
.toDoHeader{
  background: #eee;
  padding: 10px;
}
.toDoListWrapperHeader{
  background:black;
  padding: 10px;
}
.toDoListWrapperHeader h1{
  width:fit-content;
  margin: 0 auto;
  font-size: 22px;
  color: white;
  padding: 7px;
  border: 1px solid red;
  transition: all .2s;
  background: black;
}
.toDoHeader h1{
  width:fit-content;
  margin: 0 auto;
  font-size: 18px;
  padding: 7px;
  border: 1px solid #999;
  transition: all .2s;
  background: #888;
}
.toDoHeader h1:hover{
  cursor: pointer;
  background: #aaa;
}
.toDoCategory{
  padding: 5px;
  position: relative;
}
.toDoCategory div{
  padding: 3px;
  position: absolute;
  right: 5px;
  top: 5px;
  border: 1px solid black;
  background: #888;
}
.toDoCategory div:hover{
  cursor:pointer;
  background: #aaa;
}
.toDoCategory h3{
  font-size: 20px;
  font-weight: bold;
  padding: 5px 5px 2px 5px;
}
.categoryInputs{
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  border:none;
  outline: none;
}
.toDoCategory input::-webkit-input-placeholder{
  color: black;
}
.toDoCategory input:focus::-webkit-input-placeholder{
  color: transparent;
}
.toDoCategory h1{
  padding: 2px;
  margin-left: 10px;
  border-bottom: 1px solid black;
}
.taskInputs{
  font-size: 15px;
  border:none;
  outline: none;
  position: relative;
}
.taskWrapper{
  position: relative;
}
.deleteToDoTask{
  position: absolute;
  right:0px;
  top: 2px;
  padding: 3px 5px;
  color: red;
  background: black;
  transition: all .2s;
}
.deleteToDoTask:hover{
  cursor: pointer;
  background: #555;
}
.completeToDoTask{
  position: absolute;
  right:20px;
  top: 2px;
  padding: 3px 3px;
  color: #4c1;
  background: white;
  transition: all .2s;
}
.completeToDoTask:hover{
  cursor: pointer;
  background: #ddd;
}
.deleteCategory{
  position: absolute;
  right: 67px;
  padding: 3px;
  border: 1px solid black;
  background: black;
  color: red;
}
.deleteCategory:hover{
  cursor: pointer;
  background: #333;
}